.dialog-surface {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.mat-mdc-dialog-title,
.mat-mdc-dialog-content,
.mat-mdc-dialog-actions {
    padding: 0;
}

.mat-mdc-dialog-title {
    display: flex;
    align-items: center;

    .mat-icon {
        color: #2196F3;
        margin-right: 12px;
    }
}

.atendimento-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.mat-mdc-dialog-content {
    padding-top: 12px !important;
}

::ng-deep .mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
}
